{% extends 'base.html' %}
 {% block body %}

 <link rel="stylesheet" type="text/css" href='style.css' >
<div class="col-md-12 jumbotron">
<ul style="font-size:19px";>
    <li>
          <a href="/add_item">
              <b>AddStock items</b>
          </a>
        </li><br>
         <li>
          <a href="/update">
             <b>ModifyStock items</b>
          </a>
        </li><br>
         <li>
          <a href="/delete">
              <b>DeleteStock items</b>
          </a>
        </li>
</ul>
</div>

<table border="4" align="center" cellpadding="6" width="700" bordercolor="black">
    <caption><h2 ><font color="black">Stock Items:</font></h2></caption>
    <tr bgcolor="blue" align="center">
        <td><b> ID </b></td>
        <td><b> NAME OF TABLET </b></td>
        <td><b> COMPANY NAME </b></td>
        <td><b>EXPIRY</b></td>
    </tr>
    {% for tab in list %}
            <tr bgcolor="lightblue" align="center">
                <td><b>{{tab.id}}</b></td>
                <td><b>{{tab.tabname}}</b></td>
                <td><b>{{tab.company}}</b></td>
                <td><b>{{tab.doe}}</b></td>
            </tr>
    {% endfor %}
</table>
{% endblock %}









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































